h1 {
  font-family: $font-family-third;
  font-size: 70px;
  line-height: 1.14;
  color: $dark;
  
  &.h1--white {
    color: #fff;
  }

  @include media-breakpoint-down(md) {
    font-size: 60px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 50px;
  }
}

h2 {
  font-family: $font-family-third;
  font-size: 60px;
  line-height: 1.17;
  color: $dark;

  @include media-breakpoint-down(lg) {
    
    br {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 50px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

h3 {
  font-family: $font-family-second;
  font-size: 45px;
  line-height: 1.33;
  color: $dark;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }
}

h4 {
  font-family: $font-family-second;
  font-size: 30px;
  line-height: 1.17;
  color: $dark;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

h5 {
  font-family: $font-family-second;
  font-size: 22px;
  line-height: 1.36;
  color: $dark;
  font-weight: 700;
  
  &.h5--white {
    color: #fff;
  }
}

p {
  font-family: $font-family-base;
  font-size: 15px;
  line-height: 1.67;
  color: $dark;

  @include media-breakpoint-down(md) {
    font-size: 13px;
  }
  
  &.p--sm {
    font-size: 12px;
    line-height: 2.09;
  }
  
  &.p--white {
    color: #fff;
  }
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

ul {
  
  li {
    
  }
}

ol {
  
  li {
    
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
}