.cover {
  background: url(../img/cover.jpg) no-repeat center;
  background-size: cover;
  
  &__content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 80px;

    @include media-breakpoint-down(md) {
      min-height: 0;
      padding: 180px 0 100px;
    }
  }
}
