mixin cover(modifier)
  .cover&attributes(attributes)
    .container
      .row
        .col-12
          .cover__content 
            h1.h1--white.mb-65 Новые возможности, <br>которые изменят вашу жизнь
            a.btn.btn-outline-primary.btn-outline-primary--white(href="#") Стать участником