.slider {
  
  &__item {
    
  }
  
  .slick-track {
    min-width: 100%;
  }
  
  .slick-slide {
    
    &:focus, & > *, & a {
      outline: none;
    }
  }
  
  .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    background: #fdfdfd url(../img/arrow.svg) no-repeat left 18px center;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 2;
    
    &.slick-prev {
      left: -15px;
    }
    
    &.slick-next {
      transform: rotate(180deg);
      right: -15px;
    }
  }
  
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-top: 10px;
    
    li {
      list-style: none;
      
      &+li {
        margin-left: 10px;
      }
      
      &.slick-active {
        
        button {
          background: $gray-500;
        }
      }
      
      button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background: $dark;
        border-radius: 50%;
      }
    }
  }
}
