mixin news(picture, header, modifier)
  a.news.illustration(href="#")&attributes(attributes)
    .news__picture.illustration__content
      .illustration__picture(style="background-image: url(./img/" + picture + ");")
    .news__content
      p.p--sm.p--white 29 ноября 2017, 14:09
      h5.h5--white.mb-0= header