.news {
  min-height: 450px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(36, 36, 36, 0), #151515);
    z-index: 1;
    opacity: .8;
    border-radius: 10px;
  }
  
  &__picture {
    position: absolute!important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  &__content {
    position: relative;
    z-index: 2;
  }
}
