/* Bootstrap */

.container, .container-fluid {
  padding-left: 40px;
  padding-right: 40px;

  @include media-breakpoint-down(lg) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn {
  border-radius: 100px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  font-family: $font-family-second;
  padding: 10px 0 12px;
  width: 200px;

  @include media-breakpoint-down(md) {
    width: 150px;
    font-size: 14px;
    padding: 9px 0 10px;
    line-height: 2;
  }

  @include media-breakpoint-down(sm) {
    height: 40px;
    padding: 5px 0 5px;
  }
  
  &.btn-primary {
    
    &--white {
      background: #fff;
      color: $dark;
      border-color: #fff;
    }
    
    &--parents {
      background: $parents;
      border-color: $parents;
      @include transition;

      &:hover {
        background: darken($parents, 15%);
      }
    }
    
    &--teachers {
      background: $teachers;
      border-color: $teachers;
      @include transition;

      &:hover {
        background: darken($teachers, 15%);
      }
    }
  }
  
  &.btn-outline-primary {

    @include media-breakpoint-down(sm) {
      padding: 5px 0 5px;
    }
    
    
    &--white {
      color: #fdfdfd;
      border: 2px solid rgba(255, 255, 255, .95);
      @include transition;

      &:hover {
        opacity: .7;
        background: transparent;
      }
    }
    
    &--parents {
      border-color: $parents;
      color: $parents;
      @include transition;

      &:hover {
        background: $parents;
        color: #fff;
      }
    }
    
    &--teachers {
      border-color: $teachers;
      color: $teachers;
      @include transition;

      &:hover {
        background: $teachers;
        color: #fff;
      }
    }
  }
  
  &.btn-sm {
    width: 150px;
    font-size: 14px;
    padding: 0;
    line-height: 2;
    padding: 10px 0 11px;
    border-width: 2px;

    @include media-breakpoint-down(sm) {
      height: 40px;
      padding: 5px 0 5px;
    }
  }
  
  &.btn-md {
    font-size: 14px;
    padding: 9px 0 10px;
    line-height: 2;
    border-width: 2px;

    @include media-breakpoint-down(sm) {
      height: 40px;
      padding: 5px 0 5px;
    }
  }
}