include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/cover/cover.pug
include ../blocks/advantage/advantage.pug
include ../blocks/event/event.pug
include ../blocks/news/news.pug
include ../blocks/item/item.pug
include ../blocks/blog/blog.pug
include ../blocks/illustration/illustration.pug
include ../blocks/media/media.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/slider/slider.pug
include ../blocks/line/line.pug
include ../blocks/documents/documents.pug
include ../blocks/select/select.pug
include ../blocks/feature/feature.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/main/main.pug
include ../blocks/calendar-new/calendar-new.pug
