mixin subscribe(modifier)
  form.subscribe(action="#", method="POST")&attributes(attributes)
    .form-group.mb-0
      input.subscribe__input.form-control(type="email", placeholder="Введите ваш email")
    button.btn.btn-primary.btn-primary--white.subscribe__btn(type="submit") OK