.subscribe {
  display: flex;
  align-items: center;
  
  &__input {
    width: 310px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    line-height: 1.79;
    padding: 0 11px;
    background: transparent;
    flex-shrink: 0;
    @include placeholder(rgba(255, 255, 255, .3));

    @include media-breakpoint-down(lg) {
      width: 200px;
    }
    
    &:focus {
      background: transparent;
      box-shadow: none;
      border-color: rgba(255, 255, 255, .3);
      color: #fff;
    }
  }
  
  &__btn {
    width: 90px;
    height: 40px;
    font-size: 14px;
    @include transition;
    margin-left: 20px;

    &:hover {
      opacity: .7;
    }
  }
}
