.socials {
  display: flex;
  
  &__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include transition;

    &:hover {
      opacity: .7;
    }
    
    &+& {
      margin-left: 30px;

      @include media-breakpoint-down(lg) {
        margin-left: 10px;
      }
    }
    
    &--fb {
      background: url(../img/vk.svg) no-repeat;
      background-size: contain;
    }
    
    &--vk {
      background: url(../img/vk.svg) no-repeat;
      background-size: contain;
    }
    
    &--tw {
      background: url(../img/tw.svg) no-repeat;
      background-size: contain;
    }
    
    &--ig {
      background: url(../img/ig.svg) no-repeat;
      background-size: contain;
    }
    
    &--ok {
      background: url(../img/ok.svg) no-repeat;
      background-size: contain;
    }
  }
}
