mixin socials(modifier)
  .socials&attributes(attributes)
    a.socials__item.socials__item--fb(href="#")
    a.socials__item.socials__item--vk(href="#")
    a.socials__item.socials__item--tw(href="#")
    a.socials__item.socials__item--ig(href="#")
    a.socials__item.socials__item--ok(href="#")