.advantage {

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }
  
  &__top {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 3px solid $primary;
    margin-bottom: 30px;

    @include media-breakpoint-down(lg) {
      align-items: center;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  
  &__icon {
    width: 83px;
    height: 88px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 25px;

    @include media-breakpoint-down(lg) {
      width: 80px;
      height: 80px;
      background-position: center;
      margin-right: 20px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__header {
    color: $primary;
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
      font-size: 24px;
      
      br {
        display: none;
      }
    }

    @include media-breakpoint-down(md) {
      font-size: 22px;
    }
  }
  
  &__dscr {
    max-width: 70%;

    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }
  
  &--parents {
    
    .advantage__top {
      border-color: $parents;
    }
    
    .advantage__header {
      color: $parents;
    }
  }
  
  &--teachers {
    
    .advantage__icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid $teachers;
      margin-right: 10px;
      background-size: auto;
      background-position: center;

      @include media-breakpoint-down(lg) {
        width: 88px;
        height: 88px;
      }
    }
    
    .advantage__top {
      border-color: $teachers;
    }
    
    .advantage__header {
      color: $teachers;
      font-weight: 700;
    }
  }
}