mixin advantage(icon, header, dscr, modifier)
  .advantage&attributes(attributes)
    .advantage__top
      .advantage__icon(style="background-image: url(./img/" + icon + ");")
      h4.advantage__header!= header
    p.mb-0.advantage__dscr= dscr
    
      