.main {
  padding-top: 80px;

  @include media-breakpoint-down(sm) {
    padding-top: 71.4px;
  }
  
  &__content {
    display: flex;
    min-height: 80vh;
    position: relative;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      
      &:hover {
      
        .main__section-close {
          opacity: 1;
        }
      }
    }
  }
  
  &__section {
    width: 33.33%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    position: absolute;
    transition: .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);

    @include media-breakpoint-down(md) {
      height: 33.33%;
      width: 100%;
      justify-content: center;
      padding: 0;
    }
      
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(#000, .4);
      opacity: 0;
      @include transition;
    }
    
    &:hover {
      z-index: 2;
      width: 46.38%;

      @include media-breakpoint-down(md) {
        height: 45%;
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        height: 100%;
      }
      
      &:after {
        opacity: 1;
      }
      
      .main__menu {
        opacity: 1;
        position: static;
      }
    }
    
    &--left {
      left: 0;

      @include media-breakpoint-down(md) {
        top: 0;
      }
    }
    
    &--center {
      left: 33.33%;

      @include media-breakpoint-down(md) {
        left: 0;
        top: 33.33%;
      }
      
      &:hover {
        left: 26.81%;

        @include media-breakpoint-down(md) {
          left: 0;
          top: 26.81%;
        }

        @include media-breakpoint-down(sm) {
          top: 0;
        }
      }
    }
    
    &--right {
      right: 0;

      @include media-breakpoint-down(md) {
        right: auto;
        bottom: 0;
      }
    }
  }
  
  &__section-close {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 20px;
      height: 20px;
      background: url(../img/close.svg) no-repeat;
      background-size: cover;
      opacity: 0;
      z-index: 3;
      @include transition;
    }
  }
  
  &__section-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__section-header {
    font-size: 50px;
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      font-size: 40px;
    }
  }
  
  &__section-header-link {
    color: #fff;
    @include transition;
    
    &:hover {
      color: #fff;
    }
  }
  
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    @include transition;

    @include media-breakpoint-down(md) {
      position: absolute;
      margin-top: 20px;
    }
  }
  
  &__menu-item {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    font-family: $font-family-second;
    position: relative;
      
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background: url(../img/underline--white.svg) no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      @include transition;
      opacity: 0;
    }
    
    &:hover {
      color: #fff;
      
      &:after {
        opacity: 1;
      }
    }
    
    &+& {
      margin-top: 35px;

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
  }
  
  &__preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #009ade url(../img/preloader.svg) no-repeat center;
    background-size: 50px 50px;
    z-index: 3;
  }
}
