.item {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  min-height: 450px;
  
  &__picture {
    width: 170px;
    height: 170px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 38px;
  }
  
  &__header {
    text-align: center;
    margin-bottom: 0;
  }
}
