mixin item(picture, header, modifier)
  a.item.illustration(href="#")&attributes(attributes)
    .item__picture.illustration__content
      .illustration__picture(style="background-image: url(./img/" + picture + ");")
    p.p--sm.mb-15 29 ноября 2017, 14:09
    h5.item__header!= header