.footer {
  background: $dark;
  margin-top: 40px;
  padding-bottom: 40px;
  
  &__links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 27px 0;
    border-bottom: 1px solid rgba(#dee3e7, .1);
    
    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
    
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      padding: 10px 0 0;
      max-width: 300px;
      margin: 0 auto;
    }
  }
  
  &__links-item {
    color: #fff;
    display: flex;
    align-items: center;
    @include transition;
    
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }

    &:hover {
      opacity: .7;
      color: #fff;
    }
    
    &+& {
    
      &:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: $red;
        border-radius: 50%;
        margin: 0 20px;
      }
    }
    
    &:last-child {
      
      &:before {
    
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
  
  &__links-item-red {
    color: #ff2e2e;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__left {

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  &__info-item {
    font-size: 12px;
    line-height: 2.08;
    color: #fff;
    font-family: $font-family-base;
    display: flex;
    align-items: center;
    @include transition;

    &:hover {
      opacity: .7;
      color: #fff;
    }
    
    &+& {
    
      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background: $red;
        border-radius: 50%;
        margin: 0 10px;
      }
    }
  }
  
  &__center {

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__right {

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__markets {
    display: flex;
  }
  
  &__markets-item {
    width: 135px;
    height: 40px;
    display: block;
    
    &+& {
      margin-left: 20px;
    }
    
    &--apple {
      background: url(../img/appstore.png) no-repeat;
      background-size: contain;
    }
    
    &--google {
      background: url(../img/play.png) no-repeat;
      background-size: contain;
    }
  }
  
  &__copyright {
    margin-top: 30px;
    opacity: .3;
    font-size: 12px;
    font-family: $font-family-base;
    line-height: 1.67;
    color: #fff;
    margin-bottom: 0;
  }
}