mixin footer(modifier)
  .footer&attributes(attributes)
    .container
      .row
        .col-12
          .footer__links
            a.footer__links-item(href="#") Об РДШ
            a.footer__links-item(href="#") Школы
            a.footer__links-item(href="#") Медиа
            a.footer__links-item(href="#") Вход
              span.footer__links-item-red /
              |Регистрация
          .footer__content
            .footer__left
              p.p--white.my-20 Мы в соцсетях
              +socials
              .footer__info
                a.footer__info-item(href="#") Правовая информация
                a.footer__info-item(href="#") Карта сайта
            .footer__center
              p.p--white.my-20 Подпишитесь на новостную рассылку
              +subscribe
            .footer__right
              p.p--white.my-20 Приложение для телефона
              .footer__markets
                a.footer__markets-item.footer__markets-item--apple(href="#")
                a.footer__markets-item.footer__markets-item--google(href="#")
              p.footer__copyright © 2017 Российское движение школьников (РДШ)