doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title(data-title='') Календарь| Российское движение школьников
    meta(name='description', content='РДШ — Российское движение школьников')
    link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
    meta(name='yandex-verification', content='c03cdb62806747b4')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://unpkg.com/fullcalendar@5.1.0/main.min.css')
    link(rel='stylesheet', href='css/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    meta(name='format-detection', content='telephone=no')
  body
    .wrapper
      .header
        .container
          .row.mb-4
            .col-12
              .header__content
                .header__left
                  a.logo(data-pjax='', href='/')
                    span.logo__red Российское
                    span.logo__blue Движение школьников
                .header__right
                  .menu.header__menu.d-none.d-sm-block
                    a.menu__btn(data-pjax='', href='#')
                    .menu__content
                      a#search-menu-button.menu__link.px-20(href='#')
                        span.icon-search
                      a#radio-menu-button.menu__link.px-20(href='#')
                        span.icon-podcast
                      .menu__link.dropdown.dropdown-hover
                        a.menu__link.dropdown-toggle.px-20(data-pjax='', href='#') Об РДШ
                        .dropdown-menu
                          a.dropdown-item(data-pjax='', href='/about') О движении
                          a.dropdown-item(data-pjax='', href='/about/structure') Структура
                          a.dropdown-item(data-pjax='', href='/about/coordination') Координационный совет
                          a.dropdown-item(data-pjax='', href='/about/regions') Региональные отделения
                          a.dropdown-item(data-pjax='', href='/about/contacts') Контакты
                          a.dropdown-item(data-pjax='', href='/about/document') Документы
                          a.dropdown-item(data-pjax='', href='/about/faq') Вопросы и ответы
                          a.dropdown-item(data-pjax='', href='/activity/primary-division') Первичные отделения
                      .menu__link.dropdown.dropdown-hover
                        a.menu__link.dropdown-toggle.px-20(data-pjax='', href='#') Деятельность
                        .ml-50.dropdown-menu
                          a.dropdown-item(data-pjax='', href='/activity/directions') Направления
                          a.dropdown-item(data-pjax='', href='/activity/events') Мероприятия
                          a.dropdown-item(data-pjax='', href='/competition') Проекты
                          a.dropdown-item(data-pjax='', href='/activity/calendar') Календарь
                      .menu__link.dropdown.dropdown-hover
                        a.menu__link.dropdown-toggle.px-20(href='/login') Вход/Регистрация
                        .dropdown-menu
                          a.dropdown-item(data-pjax='', href='/login') Войти
                          a.dropdown-item(href='/registration') Регистрация
                  .menu.header__menu.d-md-none
                    a.menu__btn(href='#')
                    .menu__content
                      a.dropdown-item.text-center.font-weight-bold(href='/about') О движении
                      a.dropdown-item.text-center.font-weight-bold(href='/about/structure') Структура
                      a.dropdown-item.text-center.font-weight-bold(href='/about/coordination') Координационный совет
                      a.dropdown-item.text-center.font-weight-bold(href='/about/regions') Региональные отделения
                      a.dropdown-item.text-center.font-weight-bold(href='/about/contacts') Контакты
                      a.dropdown-item.text-center.font-weight-bold(href='/about/document') Документы
                      a.dropdown-item.text-center.font-weight-bold(href='/about/faq') Вопросы и ответы
                      a.dropdown-item.text-center.font-weight-bold(href='/school') Школы
                      a.dropdown-item.text-center.font-weight-bold(href='/content/teachers') Учительская
                      a.dropdown-item.text-center.font-weight-bold(href='/activity/directions') Направления
                      a.dropdown-item.text-center.font-weight-bold(href='/activity/events') Мероприятия
                      a.dropdown-item.text-center.font-weight-bold(href='/competition') Проекты
                      a.dropdown-item.text-center.font-weight-bold(href='/login') Вход/Регистрация
      .calendar-new
        .calendar-new__wrapper
          .calendar-new__header
            .calendar-new__header-month август
            .calendar-new__header-logo
            .calendar-new__header-year 2020
          .calendar-new__content#calendar-new
          .calendar-new__dscr
            .calendar-new__dscr-content
              .calendar-new__item 1 августа: Событие №1
              .calendar-new__item 2 августа: Событие №2
              .calendar-new__item 3 августа: Событие №3
              .calendar-new__item 4 августа: Событие №4
              .calendar-new__item 1 августа: Событие №1
              .calendar-new__item 2 августа: Событие №2
              .calendar-new__item 3 августа: Событие №3
              .calendar-new__item 4 августа: Событие №4
              .calendar-new__item 1 августа: Событие №1
              .calendar-new__item 2 августа: Событие №2
              .calendar-new__item 3 августа: Событие №3
              .calendar-new__item 4 августа: Событие №4
              .calendar-new__item 1 августа: Событие №1
              .calendar-new__item 2 августа: Событие №2
              .calendar-new__item 3 августа: Событие №3
              .calendar-new__item 4 августа: Событие №4
    .footer
      .container
        .row
          .col-md-4.d-flex.justify-content-center.align-items-center
            p.p--white.my-20.mr-10 Мы в соцсетях
            .socials
              a.socials__item.socials__item--vk(href='https://vk.com/skm_rus', target='_blank')
              a.socials__item.socials__item--tw(href='https://twitter.com/skmrus', target='_blank')
              a.socials__item.socials__item--ig(href='https://www.instagram.com/skm_rus/', target='_blank')
              a.socials__item.socials__item--youtube(href='https://www.youtube.com/channel/UC8zn2xiQ4DcZnwMp4Vhi0ig', target='_blank')
              a.socials__item.socials__item--fb(href='https://www.facebook.com/SKMRus/', target='_blank')
          .col-md-4.d-flex.justify-content-center.align-items-center
            .footer__links
              a.footer__links-item(href='/about') Об РДШ
              a.footer__links-item(href='/about/contacts') Контакты
              a.footer__links-item(href='/about/faq') Вопросы и ответы
          .col-md-4.d-flex.justify-content-center.align-items-center
            a.text-white(data-pjax='', href='/feedback') Написать в редакцию сайта
    script(src="https://unpkg.com/fullcalendar@5.1.0/main.min.js")
    script(src="js/app.js")