extends ../templates/template.pug
block content
  .wrapper
    .pt-100.mt-60.mt-sm-20.mt-5
      +header('Детям', 'header--kids')(class="header--kids")
      .container
        .row
          .col-12
            .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-between.mb-40
              h3.mb-0 Мероприятия
              .d-flex.flex-column.flex-lg-row.align-items-center
                .select
                  select.select__item
                    option Все направления
                .select
                  select.select__item
                    option Все даты
        .row
          .col-md-6.mb-20.d-flex
            +event('event-1.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.', 'Проект', 'event--typed')
          .col-md-6.mb-20.d-flex
            +event('event-2.jpg', 'Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ', '24 — 27 ноября 2017', 'Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».', 'Мероприятие', 'event--typed')
          .col-md-6.mb-20.d-flex
            +event('event-3.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.')
          .col-md-6.mb-20.d-flex
            +event('event-4.jpg', 'Российское движение школьников открывает Медиашколу РДШ!', '24 — 27 ноября 2017', 'Информационно-медийное направление! Вы долго этого ждали! И наконец, мы объявляем открытие нового проекта – Всероссийской Медиашколы РДШ')
          .col-md-6.mb-20.d-flex
            +event('event-5.jpg', 'Всероссийский родительский форум РДШ в Оренбурге', '24 — 27 ноября 2017', 'В Оренбурге с 24 по 27 ноября состоится Всероссийский родительский форум Российского движения школьников.')
          .col-md-6.mb-20.d-flex
            +event('event-6.jpg', 'Всероссийский детский кинофестиваль', '24 — 27 ноября 2017', 'Всероссийский детский кинофестиваль')
        .row.mt-30.mb-10
          .col-12
            .d-flex.justify-content-center
              a.btn.btn-outline-primary.btn-md(href="#") Загрузить еще
    +footer