extends ../templates/template.pug
block content
  .wrapper
    +header('', 'header--main')
    .main
      .main__preloader
      .main__content
        a.main__section-close(href="#")
        .main__section.main__section--left(style="background-image: url(./img/section-1.jpg);")
          .main__section-content
            h2.main__section-header
              a.main__section-header-link(href="#") Родителям
            .main__menu
              a.main__menu-item(href="#") Направления
              a.main__menu-item(href="#") Проекты
              a.main__menu-item(href="#") Новости
              a.main__menu-item(href="#") Медиа
        .main__section.main__section--center(style="background-image: url(./img/section-2.jpg);")
          .main__section-content
            h2.main__section-header
              a.main__section-header-link(href="#") Детям
            .main__menu
              a.main__menu-item(href="#") Конкурсы
              a.main__menu-item(href="#") Блоги
              a.main__menu-item(href="#") Новости
              a.main__menu-item(href="#") Мероприятия
              a.main__menu-item(href="#") Медиа
        .main__section.main__section--right(style="background-image: url(./img/section-3.jpg);")
          .main__section-content
            h2.main__section-header
              a.main__section-header-link(href="#") Учителям
            .main__menu
              a.main__menu-item(href="#") Учительская
              a.main__menu-item(href="#") Новости
              a.main__menu-item(href="#") Мероприятия
              a.main__menu-item(href="#") Документы
              a.main__menu-item(href="#") Медиа
  +footer(class="mt-0")