extends ../templates/template.pug
block content
  .wrapper
    +header('Детям', 'header--kids')(class="header--kids header--transparent")
    +cover
    .pt-60.pb-70.border-bottom
      .container
        .row
          .col-12
            h2.mb-60 Поможем раскрыть свой талант в деле, <br>за которое ты берёшься
        .row
          .col-sm-4
            +advantage('advantage-kids-1.svg', 'Шанс <br>проявить себя', 'Прояви себя и стань лучшим! Принимай участие в конкурсах и фестивалях')
          .col-sm-4
            +advantage('advantage-kids-2.svg', 'Открытая <br>площадка', 'Заяви о себе! Создай профиль, размещай в нём свои работы и ставь оценки сверстникам со всей страны.')
          .col-sm-4
            +advantage('advantage-kids-3.svg', 'Призы <br>и путешествия', 'Используй новые возможности, которые предоставляет РДШ всем школьникам России')
        .row
          .col-12
            a.btn.btn-primary.mt-40.mt-sm-70(href="#") Стать участником
    .container.mt-40
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.mb-40
            h4.mb-0 Конкурсы
            a.btn.btn-outline-primary.btn-sm(href="#") Все конкурсы
      .row.slider.slider--four
        .col-md-6.col-xl-3.d-flex
          +item('item-1.jpg', 'Военно-патриотическая смена РДШ Дальневосточный рубеж')
        .col-md-6.col-xl-3.d-flex
          +item('item-2.jpg', 'Лига Ораторов. <br>Двадцать первая серия')
        .col-md-6.col-xl-3.d-flex
          +item('item-3.jpg', 'Военно-патриотический слёт РДШ')
        .col-md-6.col-xl-3.d-flex
          +item('item-4.jpg', 'Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»')
    .container.mt-40
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between
            h4.mb-0 Новости
            a.btn.btn-outline-primary.btn-sm(href="#") Все новости
      .row.slider.slider--four.mt-40
        .col-3
          +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
        .col-3.d-flex
          +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
        .col-3.d-flex
          +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
        .col-3.d-flex
          +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
        .col-3.d-flex
          +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
        .col-3.d-flex
          +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
        .col-3.d-flex
          +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
        .col-3.d-flex
          +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Мероприятия
            a.btn.btn-outline-primary.btn-sm(href="#") Все мероприятия
      .row.slider.slider--two
        .col-6.d-flex
          +event('event-1.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.')
        .col-6.d-flex
          +event('event-2.jpg', 'Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ', '24 — 27 ноября 2017', 'Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».')
        .col-6.d-flex
          +event('event-1.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.')
        .col-6.d-flex
          +event('event-2.jpg', 'Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ', '24 — 27 ноября 2017', 'Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».')
    .pb-40.border-bottom
      .container
        .row
          .col-12
            .d-flex.align-items-center.justify-content-between.my-40
              h4.mb-0 Блоги
              a.btn.btn-outline-primary.btn-sm(href="#") Все блоги
        .row.slider.slider--four
          .col-3
            +blog('blog-1.jpg', 'Федеральный проект «Ты решаешь!» стартовал в «Орлёнке»')
          .col-3
            +blog('blog-2.jpg', 'Торжественно завершился «Слёт активистов сельских школ»')
          .col-3
            +blog('blog-3.jpg', 'Школьники по всей России присоединились к акции «Свеча памяти»')
          .col-3
            +blog('blog-4.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Медиа
            a.btn.btn-outline-primary.btn-sm(href="#") Все медиа
      .row.slider.slider--four
        .col-3.d-flex
          +media('media-1.jpg', 'Военно-патриотическая смена РДШ Дальневосточный рубеж')
        .col-3.d-flex
          +media('media-2.jpg', 'Лига Ораторов. Двадцать первая серия')
        .col-3.d-flex
          +media('media-3.jpg', 'Военно-патриотический слёт РДШ')
        .col-3.d-flex
          +media('media-4.jpg', 'Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»')
  +footer