extends ../templates/template.pug
block content
  .wrapper
    .pt-100.mt-60.mt-sm-20.mt-5
      +header('Детям', 'header--kids')(class="header--kids")
      .container
        .row
          .col-12
            .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-between.mb-40
              h3.mb-0 Новости
              .d-flex.flex-column.flex-lg-row.align-items-center
                .select
                  select.select__item
                    option Региональные и федеральные
                    option Федеральные
                    option Региональные
                .select
                  select.select__item
                    option Все направления
                .select
                  select.select__item
                    option Все даты
        .row
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-5.jpg', 'Российские школьники открыли «Балтийский Артек»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-6.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-7.jpg', 'Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-8.jpg', 'В ВДЦ «Океан» завершилась смена «Юные экологи»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-5.jpg', 'Российские школьники открыли «Балтийский Артек»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-6.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-7.jpg', 'Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-8.jpg', 'В ВДЦ «Океан» завершилась смена «Юные экологи»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-5.jpg', 'Российские школьники открыли «Балтийский Артек»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-6.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-7.jpg', 'Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-8.jpg', 'В ВДЦ «Океан» завершилась смена «Юные экологи»')
        .row.mt-30.mb-10
          .col-12
            .d-flex.justify-content-center
              a.btn.btn-outline-primary.btn-md(href="#") Загрузить еще
    +footer