extends ../templates/template.pug
block content
  .wrapper
    +header('Родителям', 'header--parents')(class="header--parents")
    .pt-60.mt-80.pb-70.border-bottom
      .container
        .row
          .col-12
            h2.mb-60 Возможность для родителей влиться <br>в образовательный процесс ребёнка
        .row
          .col-sm-4
            +advantage('advantage-parents-1.svg', 'Участвуйте <br>в жизни ребенка', 'Помогите вашему ребёнку стать лучшим, участвуя вместе с ним в конкурсах и акциях')(class="advantage--parents")
          .col-sm-4
            +advantage('advantage-parents-2.svg', 'Взаимодействуйте <br>с учителями', 'Поддерживайте связь с педагогами по всей стране')(class="advantage--parents")
          .col-sm-4
            +advantage('advantage-parents-3.svg', 'Отслеживайте <br>достижения детей', 'Следите за успехами вашего ребёнка во всероссийских конкурсах и состязаниях')(class="advantage--parents")
        .row
          .col-12
            a.btn.btn-primary.btn-primary--parents.mt-40.mt-lg-70(href="#") Стать участником
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Направления
            a.btn.btn-outline-primary.btn-outline-primary--parents.btn-sm(href="#") Подробнее
      .row
        .col-md-6.d-flex
          +line('line-1.png', '1', 'Личностное развитие', 'Творческое развитие, популяризация здорового образа жизни и спорта, выбор будущей профессии')
        .col-md-6.d-flex
          +line('line-2.png', '2', 'Военно-патриотическое направление', 'ВПЦ «Вымпел», «юнармейцы», юные спасатели, юные казаки, юные пограничники, юные друзья полиции и юные инспектора движения')
        .col-md-6.d-flex
          +line('line-3.png', '3', 'Гражданская активность', 'Добровольчество, поисковая деятельность, изучение истории России, краеведение, создание и развитие школьных музеев')
        .col-md-6.d-flex
          +line('line-4.png', '4', 'Информационно-медийное направление', 'Большая детская редакция, «Медиашкола», создание школьных газет, радио и телевидения, работа в социальных сетях, подготовка информационного контента')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.mt-20.mb-40
            h4.mb-0 Проекты
            a.btn.btn-outline-primary.btn-outline-primary--parents.btn-sm(href="#") Все проекты
      .row.slider.slider--two
        .col-6.d-flex
          +event('event-1.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.')
        .col-6.d-flex
          +event('event-2.jpg', 'Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ', '24 — 27 ноября 2017', 'Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Новости
            a.btn.btn-outline-primary.btn-outline-primary--parents.btn-sm(href="#") Все новости
      .row.slider.slider--four
        .col-3
          +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
        .col-3
          +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
        .col-3
          +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
        .col-3
          +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Медиа
            a.btn.btn-outline-primary.btn-outline-primary--parents.btn-sm(href="#") Все медиа
      .row.slider.slider--four
        .col-3
          +media('media-1.jpg', 'Военно-патриотическая смена РДШ Дальневосточный рубеж')
        .col-3
          +media('media-2.jpg', 'Лига Ораторов. Двадцать первая серия')
        .col-3
          +media('media-3.jpg', 'Военно-патриотический слёт РДШ')
        .col-3
          +media('media-4.jpg', 'Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»')
  +footer