extends ../templates/template.pug
block content
  .wrapper
    +header('Учителям', 'header--teachers')(class="header--teachers")
    .pt-60.mt-80.pb-70.border-bottom
      .container
        .row
          .col-12
            h2.mb-60 Станьте ближе к своим ученикам
        .row
          .col-sm-4
            +advantage('advantage-teachers-1.svg', 'Присоединяйтесь <br>к педагогическому <br>сообществу', 'Получите возможность общаться с коллегами по всей стране')(class="advantage--teachers")
          .col-sm-4
            +advantage('advantage-teachers-2.svg', 'Получите доступ <br>к методическим <br>материалам', 'Используйте лучшие практики работы с детьми, разработанные педагогами со всей России')(class="advantage--teachers")
          .col-sm-4
            +advantage('advantage-teachers-3.svg', 'Помогите своим <br>ученикам <br>в достижении целей', 'Поспособствуйте успехам ваших учеников, участвуя вместе с ними во всероссийских конкурсах')(class="advantage--teachers")
        .row
          .col-12
            a.btn.btn-primary.btn-primary--teachers.mt-40.mt-lg-70(href="#") Присоединиться
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Учительская
            a.btn.btn-outline-primary.btn-outline-primary--teachers.btn-sm(href="#") Подробнее
          +feature
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Новости
            a.btn.btn-outline-primary.btn-outline-primary--teachers.btn-sm(href="#") Все новости
      .row.slider.slider--four
        .col-3
          +news('news-5.jpg', 'Российские школьники открыли «Балтийский Артек»')
        .col-3
          +news('news-6.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
        .col-3
          +news('news-7.jpg', 'Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»')
        .col-3
          +news('news-8.jpg', 'В ВДЦ «Океан» завершилась смена «Юные экологи»')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Документы
            a.btn.btn-outline-primary.btn-outline-primary--teachers.btn-sm(href="#") Все документы
          +documents
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Медиа
            a.btn.btn-outline-primary.btn-outline-primary--teachers.btn-sm(href="#") Все медиа
      .row.slider.slider--four
        .col-3
          +media('media-1.jpg', 'Военно-патриотическая смена РДШ Дальневосточный рубеж')
        .col-3
          +media('media-2.jpg', 'Лига Ораторов. Двадцать первая серия')
        .col-3
          +media('media-3.jpg', 'Военно-патриотический слёт РДШ')
        .col-3
          +media('media-4.jpg', 'Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»')
  +footer