mixin event(picture, header, date, dscr, type, modifier)
  .event&attributes(attributes)
    .event__picture(style="background-image: url(./img/" + picture + ");")
      if modifier == 'event--typed'
        .event__type= type
    .event__content
      .row
        .col-xl-6
          .event__content-left
            h5.event__header
              a.event__header-link(href="#")= header
            if modifier == 'event--project'
            else
              .event__divider
              p.p--sm.mb-0= date
        .col-xl-6
          p.event__dscr= dscr
      