.event {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  
  &__picture {
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 225px;
    position: relative;
    background-position: center;
  }
  
  &__type {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ff2e2e;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 6.2px 20px;
  }
  
  &__content {
    min-height: 225px;
    padding: 35px 20px;
    
    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
  }
  
  &__content-left {
    max-width: 85%;
    
    @include media-breakpoint-down(lg) {
      max-width: none;
      margin-bottom: 20px;
    }
  }
  
  &__header {
    margin-bottom: 0;
  }
  
  &__header-link {
    color: $dark;
    @include transition;
    
    &:hover {
      color: $dark;
      opacity: .7;
    }
  }
  
  &__divider {
    width: 10px;
    height: 1px;
    background: $dark;
    margin: 14px 0 10px;
  }
  
  &__dscr {
    
  }
}