.media {
  background: #fff;
  border-radius: 10px;
  display: block;
  
  &__picture {
    min-height: 225px;
    border-radius: 10px 10px 0 0;
  }
  
  &__content {
    min-height: 225px;
    border-radius: 0 0 10px 10px;
    padding: 20px;
  }
}
