mixin media(picture, header, modifier)
  a.media.illustration(href="#")&attributes(attributes)
    .media__picture.illustration__content
      .illustration__picture(style="background-image: url(./img/" + picture + ");")
    .media__content
      p.p--sm.mb-15 29 ноября 2017, 14:09
      h5.mb-0= header