.logo {
  font-family: $font-family-third;
  font-size: 27px;
  line-height: 1.27;
  text-transform: uppercase;
  position: relative;
  flex-shrink: 0;
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: url(../img/underline.svg) no-repeat;
    background-size: contain;
    position: absolute;
  }
  
  &__red {
    color: $red;
  }
  
  &__blue {
    color: $blue;
    margin-left: 9px;
  }
}
