mixin blog(picture, header, modifier)
  a.blog.illustration(href="#")&attributes(attributes)
    .blog__picture.illustration__content
      .illustration__content.illustration__picture(style="background-image: url(./img/" + picture + ");")
    h5.blog__header= header