.blog {
  
  &__picture {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 30px;
    flex-shrink: 0;
    
    @include media-breakpoint-down(lg) {
      max-width: 200px;
      margin: 0 auto 30px;
    }
  }
  
  &__header {
    text-align: center;
    margin-bottom: 0;
  }
}
