.feature {
  
  &__item {
    display: flex!important;
    background: #fff;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  
  &__content {
    padding: 40px 40px 120px;
    border-radius: 10px 0 0 10px;
    width: 50%;

    @include media-breakpoint-down(md) {
      order: 2;
      width: 100%;
      padding: 20px 20px 100px;
    }
  }
  
  &__header {
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  &__dscr {
    font-size: 22px;
    line-height: 1.59;
    color: $dark;
    font-family: $font-family-second;

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
  }
  
  &__picture {
    border-radius: 0 10px 10px 0;
    width: 50%;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-down(md) {
      order: 1;
      width: 100%;
      height: 300px;
    }
  }
  
  .slick-arrow {
    width: 50px;
    height: 50px;
    border: 2px solid $teachers;
    font-size: 0;
    border-radius: 50%;
    background: url(../img/angle--yellow.svg) no-repeat left 16px center;
    position: absolute;
    bottom: 40px;
    z-index: 1;
    @include transition;

    @include media-breakpoint-down(md) {
      bottom: 20px;
    }

    &:hover {
      opacity: .7;
    }
    
    &.slick-prev {
      left: 40px;

      @include media-breakpoint-down(md) {
        left: 20px;
      }
    }
    
    &.slick-next {
      transform: rotate(180deg);
      left: 100px;

      @include media-breakpoint-down(md) {
        left: 80px;
      }
    }
  }
}
