mixin feature(modifier)
  .feature&attributes(attributes)
    .feature__item
      .feature__content
        h5.feature__header Цель
        p.feature__dscr Организационно-педагогическое и научно-методическое сопровождение педагогических работников, реализующих идеи Общероссийской общественно-государственной детско-юношеской организации «Российское движение школьников» в образовательных организациях Российской Федерации.
      .feature__picture(style="background-image: url(./img/feature.jpg);")
    .feature__item
      .feature__content
        h5.feature__header Цель
        p.feature__dscr Организационно-педагогическое и научно-методическое сопровождение педагогических работников, реализующих идеи Общероссийской общественно-государственной детско-юношеской организации «Российское движение школьников» в образовательных организациях Российской Федерации.
      .feature__picture(style="background-image: url(./img/feature.jpg);")