mixin documents(modifier)
  .documents&attributes(attributes)
    h5 Недавно добавленные документы
    .documents__item
      a.documents__item-header(href="#") Описание Типовой модели системы общественно-государственного управления образованием с участием родительской общественности
      p.p--sm.documents__item-date Принят 26.10.2017
      p.p--sm.documents__item-type Тип: PDF-файл
    .documents__item
      a.documents__item-header(href="#") Финалисты Всероссийского конкурса «Лучший вожатый»
      p.p--sm.documents__item-date Принят 14.10.2017
      p.p--sm.documents__item-type Тип: PDF-файл
    .documents__item
      a.documents__item-header(href="#") Сборник материалов тематической смены «Слёт юных экологов Российского движения школьников»
      p.p--sm.documents__item-date Принят 10.07.2017
      p.p--sm.documents__item-type Тип: PDF-файл