.documents {
  background: #fff;
  padding: 40px;
  border-radius: 10px;

  @include media-breakpoint-down(md) {
    padding: 20px;
  }
  
  &__item {
    display: flex;
    align-items: baseline;
    padding: 30px 0;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding: 20px 0;
    }
    
    &+& {
      border-top: 1px solid #eaeaea;
    }
  }
  
  &__item-header {
    font-size: 22px;
    line-height: 1.59;
    color: $dark;
    width: 100%;
    max-width: 78%;
    font-family: $font-family-second;
    padding-right: 60px;
    @include transition;

    @include media-breakpoint-down(md) {
      max-width: none;
      padding-right: 0;
    }

    &:hover {
      opacity: .7;
      color: $dark;
    }
  }
  
  &__item-date {
    margin-bottom: 0;
    line-height: 2.08;
    max-width: 13%;
    width: 100%;

    @include media-breakpoint-down(lg) {
      max-width: 15%;
    }

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      max-width: none;
    }
  }
  
  &__item-type {
    margin-bottom: 0;
    line-height: 2.08;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      max-width: none;
      margin-top: 20px;
    }
  }
}