.line {
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 20px;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
  }
  
  &__icon {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1.6px solid #0d6797;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    flex-shrink: 0;
    margin-right: 60px;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  
  &__content {
    position: relative;
  }
  
  &__content-wrapper {
    position: relative;
    z-index: 1;
  }
  
  &__number {
    position: absolute;
    font-size: 270px;
    font-weight: 300;
    font-family: $font-family-second;
    color: #f4f6f7;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: .93;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  
  &__header {
    margin-bottom: 30px;
    font-size: 24px;

    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
  
  &__dscr {

    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
}
