mixin line(icon, number, header, dscr, modifier)
  .line&attributes(attributes)
    .line__icon(style="background-image: url(./img/" + icon + ");")
    .line__content
      .line__number= number
      .line__content-wrapper
        h4.line__header= header
        p.line__dscr.mb-0= dscr