.illustration {
  
  &:hover {
    
    .illustration__picture {
      transform: scale(1.1);
    }
  }
  
  &__content {
    overflow: hidden;
    position: relative;
  }
  
  &__picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    @include transition;
  }
}
