.menu {
  
  &__btn  {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      background: url(../img/menu.svg) no-repeat;
      background-size: contain;
      width: 25px;
      height: 25px;
    }
  }
  
  &__content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__link {
    font-size: 16px;
    font-family: $font-family-second;
    font-weight: 700;
    line-height: 1.75;
    color: $dark;
    display: flex;
    align-items: center;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: $dark;
    }
    
    &+& {
    
      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background: $red;
        border-radius: 50%;
        margin: 0 25px;

        @include media-breakpoint-down(lg) {
          margin: 0 15px;
        }
      }
    }
    
    &--active {
      color: #bfbfbf;
    }
  }
  
  &__link-colored {
    color: $red;
  }
  
  &--active {
    
    .menu__btn {
      background: url(../img/menu.svg) no-repeat;
      background-size: contain;
      position: relative;
      z-index: 1;
    }
    
    .menu__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100%;
      height: 100%;
      background: #fff;
      left: 0;
      top: 0;
    }
    
    .menu__link {
      color: $dark;
      font-size: 40px;

      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
      
      & + .menu__link {
        margin-top: 20px;
        
        &:before {
          display: none;
        }
      }
    }
  }
}
