mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      if modifier == 'menu--kids'
        a.menu__link(href="#") Конкурсы
        a.menu__link.menu__link--active(href="#") Новости
        a.menu__link(href="#") Мероприятия
        a.menu__link(href="#") Блоги
        a.menu__link(href="#") Медиа
      else if modifier == 'menu--parents'
        a.menu__link(href="#") Направления
        a.menu__link(href="#") Проекты
        a.menu__link(href="#") Новости
        a.menu__link(href="#") Медиа
      else if modifier == 'menu--teachers'
        a.menu__link(href="#") Учительская
        a.menu__link(href="#") Новости
        a.menu__link(href="#") Мероприятия
        a.menu__link(href="#") Документы
        a.menu__link(href="#") Медиа
      else 
        a.menu__link(href="#") Об РДШ
        a.menu__link(href="#") Школы
        a.menu__link(href="#") Медиа
        a.menu__link(href="#") Вход
          span.menu__link-colored /
          |Регистрация
      