.select {

  @include media-breakpoint-down(md) {
    width: 100%!important;
  }
  
  & > .select2 {
    
    @include media-breakpoint-down(md) {
      width: 100%!important;
      margin-top: 20px;
    }
  }
  
  &+& {
    
    .select__btn {
      border-radius: 0!important;
      border-left: 0!important;

      @include media-breakpoint-down(md) {
        border-radius: 3px!important;
        border-left: 1px solid rgba(#dee3e7, .95)!important;
      }
    }
  }
  
  &:first-child {
    
    .select__btn {
      border-radius: 3px 3px 0 0!important;

      @include media-breakpoint-down(md) {
        border-radius: 3px!important;
      }
    }
  }
  
  &:last-child {
    
    .select__btn {
      border-radius: 3px 3px 0 0!important;

      @include media-breakpoint-down(md) {
        border-radius: 3px!important;
      }
    }
  }
  
  &__item {
    
    
    .select__btn {
      border-radius: 0 0 3px 3px!important;
    }
  }
  
  &__btn {
    border: 1px solid rgba(#dee3e7, .95)!important;
    background: transparent!important;
    height: 50px!important;

    @include media-breakpoint-down(md) {
      width: 100%!important;
    }
      
    &:focus {
      outline: none!important;
    }
    
    .select2-selection__rendered {
      font-size: 14px!important;
      line-height: 2!important;
      color: $blue!important;
      background: transparent!important;
      height: 50px!important;
      padding-left: 20px!important;
      line-height: 48px!important;
      padding-right: 60px!important;
    font-family: $font-family-base;
      
      &:focus {
        outline: none!important;
      }
    }
    
    .select2-selection__arrow {
      top: 50%!important;
      transform: translateY(-50%)!important;
      right: 15px!important;
      
      b {
        border-color: $blue transparent transparent transparent!important;
      }
    }
  }
  
  .select2-container {
    
    &--open {
      
      .select2-selection__arrow {
        
        b {
          border-color: transparent transparent $blue transparent!important;
        }
      }
    }
  }
}

.select2-dropdown {
  border-radius: 3px!important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08)!important;
  border: 0!important;
}

.select2-results__option {
  padding: 13px 20px;
  font-size: 14px;
  color: $blue;
  line-height: 2;
  font-family: $font-family-base;
  background: #fff;
  
  &:first-child {
    border-radius: 3px 3px 0 0!important;
  }
  
  &:last-child {
    border-radius: 0 0 3px 3px!important;
  }
  
  &+& {
    border-top: 1px solid rgba(#dee3e7, .4);
  }
  
  &[aria-selected=true] {
    background: #f9f9f9!important;
  }
  
  &.select2-results__option--highlighted {
    background: #f9f9f9!important;
    color: $blue!important;
  }
}