mixin header(section, modifier)
  .header&attributes(attributes)
    .container
      .row
        .col-12
          .header__content
            .header__left
              +logo
              if modifier == 'header--main'
              else
                .header__section.header__section--dark
                  a.header__section-current(href="#")= section
                  .header__section-content
                    a.header__section-item(href="kids.html") Детям
                    a.header__section-item(href="parents.html") Родителям
                    a.header__section-item(href="teachers.html") Учителям
            .header__right
              if modifier == 'header--kids'
                +menu('menu--kids')(class="header__menu")
              else if modifier == 'header--parents'
                +menu('menu--parents')(class="header__menu")
              else if modifier == 'header--teachers'
                +menu('menu--teachers')(class="header__menu")
              else
                +menu(class="header__menu")
              if modifier == 'header--main'
              else
                a.header__search(href="#")