.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 23.2px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      align-items: flex-start;
    }
  }
  
  &__left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__section {
    position: relative;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
    
    &:before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      margin: 0 10px;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    
    &:after {
      content: '';
      display: block;
      width: 13px;
      height: 8px;
      margin-left: 12px;
    }
    
    &--dark {
      color: $dark;
      
      &:before {
        background: $dark;
      }
      
      &:after {
        background: url(../img/angle--dark.svg) no-repeat;
        background-size: contain;
      }
      
      .header__section-current {
        color: $dark;
      }
    }
  }
  
  &__section-current {
    font-family: $font-family-third;
    font-size: 22px;
    line-height: 1.27;
    position: relative;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
    
    &:hover {
      opacity: .7;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      position: absolute;
      margin-top: 3px;
    }
  }
  
  &__section-content {
    display: none;
    background: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    left: 20px;

    @include media-breakpoint-down(md) {
      left: 0;
    }
  }
  
  &__section-item {
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 1.27;
    color: $dark;
    text-transform: uppercase;
    font-family: $font-family-third;
    @include transition;
    
    &:hover {
      color: #bfbfbf;
    }
    
    &+& {
      margin-top: 20px;
    }
  }
  
  &__right {
    display: flex;
    align-items: center;
  }
  
  &__menu {

    @include media-breakpoint-down(md) {
      order: 2;
    }
  }
  
  &__search {
    width: 18px;
    height: 16px;
    background: url(../img/search--dark.svg) no-repeat;
    background-size: contain;
    margin-left: 35px;
    @include transition;

    @include media-breakpoint-down(md) {
      order: 1;
      margin-left: 0;
      margin-right: 35px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }
    
    &:hover {
      opacity: .7;
    }
  }
  
  &--transparent {
    background: transparent;
    box-shadow: none;
    
    .header__section {
      
      &:before {
        background: #fff;
      }
      
      &:after {
        background: url(../img/angle.svg) no-repeat;
      }
    }
    
    .header__section-current {
      color: #fff;
    }
    
    .menu__btn {
      background: url(../img/menu--white.svg) no-repeat;
      background-size: contain;
    }
    
    .menu__link {
      color: #fff;
    }
    
    .header__search {
      background: url(../img/search.svg) no-repeat;
      background-size: contain;
    }
  }
  
  &--kids {
      
    .header__section-current {

      &:after {
        background: url(../img/underline--dark-xs.svg) no-repeat;
        background-size: contain;
      }
    }
    
    &.header--transparent {
      
      .header__section-current {

        &:after {
          background: url(../img/underline--white.svg) no-repeat;
          background-size: contain;
        }
      }
    }
  }
  
  &--parents {
      
    .header__section-current {

      &:after {
        background: url(../img/underline--dark.svg) no-repeat;
        background-size: contain;
      }
    }
  }
  
  &--teachers {
      
    .header__section-current {

      &:after {
        background: url(../img/underline--dark-sm.svg) no-repeat;
        background-size: contain;
      }
    }
  }
}